body{background-image: url("China.jpg");
background-position: top-right;
background-size: 100% 100%;
background-repeat: no-repeat;
color:#696159;
 font-family: "Times New Roman", Times, serif;
}

#wrapper {
	background:rgba(0,0,0,0.5);
    margin-left: 200px;
    margin-right: auto;
    width: 300px;
	border: 10px black;
    min-width: 800px;
    max-width: 1280px;
}

p{
padding-left:30px;
text-shadow: 1px 1px green;
font-size:22px;
color:white;
}

img{
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%

}

a:link {
    color: pink;
}

a:visited {
   color: orange;
}

a:hover {
   color: lightgreen;
}


h1{
padding-left:50px;
background-color:white;


}

h2 {

padding-left:25px;
color:white;
text-decoration: bold;

}