#wrapper {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    
    min-width: 700px;
    max-width: 1024px;
    
	height: 950px;
}

body {
    background-image: url(BackImage.jpg);
	background-repeat: repeat;
	background-size:100%;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    color: #000;
   background-attachment: fixed;
	
	align-content:center;
	
	 
}

nav {
    text-align: center;
    float: left;
    font-weight: 700;
    padding-top:40px;
    padding-left: 0;
    padding-right: 2px;
	background-color: rgba(255, 160, 122, 0.6);
    margin-bottom:50px;
}
h1{ text-align:center;
padding-top:2em;
font-size:40px;
background-color: white;
padding:20px;
color: #3D3C50;

}
.logo{
display:flex;
justify-content: flex-start;
background-color: rgba(255, 255, 255, 0.4);
}
h2 {
    text-align: Left;
    font-size:1.5em;
    border: solid black 1px;
	border-radius: 3px;
    padding: 3px;
    background-color:white;
    color:#3D3C50;
}
h3{ text-align:center;
font-size:2em;
font-family: Calibri;
color:white;}  

#matter1 {
color: white;
font-weight: bold;
font-size: 20px;}

nav a {
    text-decoration: none;
    padding-bottom: 5px;
}

nav a:link {
    color: #3D3C50;
}


nav a:hover {
    background-color: white;
  
	border: solid black 2px;
	border-radius: 3px;
	padding: 5px;
	
}

nav ul {

    padding-left:5em;
    list-style-type: none;
    width:900px;
    display:flex;
    font-size:25px;
}

nav li {
    padding: .8em;
}

.homecol1{
    background-color: #3D3C50;
    color:white;   
    padding:40px;
    margin-top:20px;
}

.homecol3{
    background-color: #3D3C50;
    color:white;   
    padding:40px;
     margin-top:20px;
}
footer {
 
	color:white;
    padding-bottom: 20px;
    padding-right: 100px;
    padding-top: 25px;
    background-color: rgba(255, 255, 255, 0.4) }

.copyright{
    float:right;
}



 
 


	