body{
	font-family: Arial, Helvetica, sans-serif;
	background-color:#FDF5E6;
	margin-left:50px;
	margin-right:50px;
}

h1{
	font-size:30px;
	padding-left:50px;
	background-color:#ffe4cc;
}

#list{
	
	padding-left:55px;
	font-size:18px;
	line-height: 20px;
	
}

#roaster{
	
	font-size:18px;
	line-height: 20px;
}

#profile{
	
	font-size:18px;
	line-height: 20px;
}
.displays{
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
