
h1 {
	padding-top:20px;
  text-align: center;
  padding-right:215px;
  padding-left:200px;
  color:purple;
  background:white;
 margin-right:200px;
	
}

body{
	padding-left:100px;
	background-color:#ffe6ff;
	background-image: url(pinkk.png);
   
}
	
	.flex{
	
	display:inline-grid;
	grid-template-columns: 1fr 1fr ;
	width:380px;
	margin-top: 30px;


	}



.style {
	display: grid;
	text-align:center;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
	height:250px;
	background: linear-gradient(to right, #e6e6ff 0%, #ecc6d9 100%);
	border-radius:4px;
	border-style:solid;
	border-width:0.5px;
	
}