﻿/* Login
--------------------------------------------------------------------------------------------------------------- */
#wrapper {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	min-width: 700px;
	max-width: 1024px;
	height: 950px;
}
body {
	background-image: url(BackImage.jpg);
	background-repeat: repeat;
	background-size: 100%;
	color: #000;
	background-attachment: fixed;
	align-content: center;
}
nav {
	font-weight: 700;
	padding-top: 40px;
	padding-left: 0;
	padding-right: 2px;
	background-color: rgba(255, 160, 122, 0.6);
	margin-bottom: 50px;
	a {
		text-decoration: none;
		padding-bottom: 5px;
		&:link {
			color: #3D3C50;
		}
		&:hover {
			background-color: white;
			border: solid black 2px;
			border-radius: 3px;
			padding: 5px;
		}
	}
	ul {
		padding-left: 5em;
		list-style-type: none;
		width: 900px;
		display: flex;
		font-size: 25px;
		li {
			ul {
				display: none;
				opacity: 0;
				position: absolute;
				z-index: 1;
				width: 160px;
			}
			&:hover {
				>ul {
					display: block;
					opacity: 1;
					background: #fff;
					float: none;
				}
			}
		}
	}
	li {
		padding: .8em;
		li {
			a {
				display: block;
				margin: 0;
				padding: 10px 15px;
			}
			.drop {
				display: block;
				margin: 0;
				padding: 10px 15px;
				&::after {
					content: "\f0d7";
					top: 15px;
					left: 5px;
					float: right;
				}
			}
		}
		ul {
			li {
				a {
					display: block;
					padding: 20px 0;
				}
			}
		}
	}
	.drop {
		&::after {
			content: "\f0d7";
			top: 25px;
			left: 5px;
		}
	}
	.login {
		float: right;
		margin-right: 30px;
	}
}
h1 {
	text-align: center;
	padding-top: 2em;
	font-size: 40px;
	background-color: white;
	padding: 20px;
	color: #3D3C50;
}
.logo {
	display: flex;
	justify-content: flex-start;
	background-color: rgba(255, 255, 255, 0.4);
}
img {
	box-shadow: 5px 5px 5px #000;
}
h2 {
	text-align: Left;
	font-size: 1.5em;
	border: solid black 1px;
	border-radius: 3px;
	padding: 3px;
	background-color: white;
	color: #3D3C50;
}
h3 {
	text-align: center;
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}
#matter1 {
	color: white;
	font-weight: bold;
	font-size: 20px;
}
#matter2 {
	color: white;
	font-weight: bold;
	font-size: 20px;
}
#matter3 {
	color: white;
	font-weight: bold;
	font-size: 20px;
}
.homecol1 {
	background-color: #3D3C50;
	color: white;
	padding: 40px;
	margin-top: 20px;
}
.homecol2 {
	background-color: #3D3C50;
	color: white;
	padding: 40px;
	margin-top: 20px;
}
.homecol3 {
	background-color: #3D3C50;
	color: white;
	padding: 40px;
	margin-top: 20px;
}
.donation {
	text-align: center;
	font-size: 20px;
}
footer {
	color: white;
	padding-bottom: 20px;
	padding-right: 100px;
	padding-top: 25px;
	background-color: rgba(255, 255, 255, 0.4);
}
.copyright {
	float: right;
}
button {
	font-size: 15px;
	background-color: #E9967A;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}
.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}
.form {
	position: relative;
	z-index: 1;
	background: #003;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	input {
		font-family: "Roboto", sans-serif;
		outline: 0;
		background: #f2f2f2;
		width: 100%;
		border: 0;
		margin: 0 0 15px;
		padding: 15px;
		box-sizing: border-box;
		font-size: 14px;
	}
	button {
		font-family: "Roboto", sans-serif;
		text-transform: uppercase;
		outline: 0;
		background-color: #0069A8;
		width: 100%;
		border: 0;
		padding: 15px;
		color: #FFFFFF;
		font-size: 14px;
		cursor: pointer;
		&:hover {
			background-color: #000;
		}
		&:active {
			background-color: #000;
		}
		&:focus {
			background-color: #000;
		}
	}
	.message {
		margin: 15px 0 0;
		color: #b3b3b3;
		font-size: 16px;
		a {
			color: #0069A8;
			text-decoration: none;
		}
	}
	.register-form {
		display: none;
	}
}