
	.title {
		font-size:30px;
		text-align: center;
		background: linear-gradient(to right, #862d86 0%, #ff66ff 100%);
		font-style:bold;
	}

	body{

		font-family:verdana;

	}	
	
	.top.menu{
		margin-left: 100px;
		margin-right: 165px;
		background-color: #4d004d;
		border-radius:8px;
	}

	.top.menu > .item{

		display:inline;
		color:white;
		background: linear-gradient(to right, #862d86 0%, #ff66ff 100%);
		padding-left:30px;
		padding-right:30px;
		margin-left:20px;

	}

	.container{
	background:#862d86;
	border-radius: 25px 0px 0px 25px;

	}

	.item{
		background-color:#862d86;
		margin-left:20px;

	}
	
	.flexbottom{
	background: #ff66ff;
	display:flex-right;
	width:60%;
	flex-wrap:wrap;
	float:right;

	}

	.mon div:first-child{font-weight:bold};


	.mon {

	display: inline-grid;
	width:16%;
	margin-top: 2px;
	background: linear-gradient(to right, #cc00cc 0%, #800080 100%);
	border-radius:8px;
	border-style:solid;
	border-width:0.5px;

	}
	
	.subItem {
		display: none;
		background: #862d86;
		padding: 20px;
	}	

	.item:hover .subItem{
		display:block;
		font-weight:bold;
		color:red;

	}
	
	.sidebar > .item:hover {
		font-weight:bold;
	}



