<footer>
    <a href="https://www.facebook.com/officialchristianslater/">
<img alt="facebook" height="38" id="facebook" src="Images/facebook.gif" width="125">
</a>
<p class="copyright">Copyright &copy; Maneet Longia</p><br>
Image and Information Refrence from Wikipedia.
</footer>
</div>
</body>
</html>
